# .env file is only used for server REST configuration.
# Copy this .env.example file and configure as you wishes. Uncomment the lines and set the values.

# -- This will be the IP address of the UML295 device
#UML295_TARGET_ADDRESS=192.168.32.2
#UML295_INTERFACE=192.188.32.x

# -- This will be the IP address for the REST server
#REST_SERVER_IP=0.0.0.0
#REST_SERVER_PORT=3000
# -- If you wish to enable authentication, uncomment the following line and set the values
# -- The format is username:password. USAGE OF THIS IS NOT RECOMMENDED, USE AN EXTERNAL REVERSE PROXY INSTEAD.
#CHALLENGE_AUTHENTICATION=admin:admin
